<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>项目管理管理</title>

	<head th:include="init :: init"></head>

	<script type="text/javascript">

		//提交表单
		function validForm(){
			$('#signupForm').validate({
		        submitHandler:function(form){
		            loading();
		            form.action = '[[${ctx}]]/project/project/saveProject';
					form.submit();
		        }
			});
		    $('#signupForm').submit();
		}


		function addNature() {
			let _html = '<div id="natureIndex"  class="layui-form-item col-lg-6 col-sm-12 col-xs-12">' +
					'<label class="col-xs-3 layui-form-label">属性：</label>' +
					'        <div class="col-xs-6" >' +
					'    <input name="nature" class="layui-input" th:value="" placeholder="请输入属性" autocomplete="off" type="text"  maxlength="255">' +
					'    </div>' +
					'    </div>'
			$('#natureIndex').append(_html);
		}
	</script>
</head>
<body class="gray-bg">
	<div class="wrapper animated fadeInRight">
    	<div class="ibox-content">
    		<div class="row">
    			<form id="signupForm" class="layui-form form-horizontal m-t">
    			<input type="hidden" name="id" th:value="${project.id}">
    				<div class="layui-form-item col-lg-6 col-sm-12 col-xs-12">
						<label class="col-xs-3 layui-form-label">项目名称：</label>
				        <div class="col-xs-6">
    						<input name="projectName" class="layui-input" th:value="${project.projectName }" placeholder="请输入项目名称" autocomplete="off" type="text"  maxlength="255">
    					</div>
				    </div>
    				<div class="layui-form-item col-lg-6 col-sm-12 col-xs-12">
						<label class="col-xs-3 layui-form-label">项目总数：</label>
				        <div class="col-xs-6">
    						<input name="projectNum" class="layui-input digits" th:value="${project.projectNum }" placeholder="请输入项目总数" autocomplete="off" type="text"  maxlength="11">
    					</div>
				    </div>
    				<div id="natureIndex"  class="layui-form-item col-lg-6 col-sm-12 col-xs-12">
						<label class="col-xs-3 layui-form-label">属性：</label>
				        <div class="col-xs-6" >
    						<input name="nature" class="layui-input" th:value="${project.nature }" placeholder="请输入属性" autocomplete="off" type="text"  maxlength="255">
    					</div>
				    </div>
					<button class="btn btn-primary " type="button" data-toggle="modal" onclick="addNature(this)"><i class="fa fa-plus"></i>&nbsp;添加属性</button>
    			</form>
    		</div>
    	</div>
    </div>
</body>
</html>