<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>

    <head th:include="init :: init"></head>
</head>
<body>
    <script type="text/javascript">
        $(function(){
            closeLoading();
            var rotue = "[[${fileName}]]";
            var userAgent = navigator.userAgent;
            if (userAgent.indexOf("Firefox") != -1 || userAgent.indexOf("Chrome") !=-1) {
                top.window.location.href=rotue;
            }else if(userAgent.indexOf('Android') > -1 || userAgent.indexOf('Linux') > -1){
                top.window.opener=null;
                top.window.open(rotue,'_self','').close();
            }else {
                top.window.opener = null;
                top.window.open(rotue, "_self");
                top.window.close();
            }
        });

    </script>
</body>
</html>
