

.form-horizontal .form-group{
	margin-bottom:10px !important;
}
.form-horizontal .control-label{
	margin-bottom: 0px;
	line-height: 34px;
}
.width-40{
	width : 40px;
	height : 40px;
}
.margin-left-5{
	margin-left : 5px;
}
.form-horizontal .switch{
	line-height: 34px;
    height: 34px;
    padding-top: 6px
}
.grid_btn_ul{
	width:100%;
}
.grid_btn_ul li{
	padding:2px;
	float:left;
	list-style:none;
	padding:3px;
}
.form-head{
	border-bottom: 1px solid #e2e2e2;
}