<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>字典信息管理</title>

	<head th:include="init :: init"></head>

	<script type="text/javascript">

		//提交表单
		function validForm(){
			$('#signupForm').validate({
		        submitHandler:function(form){
		            loading();
		            form.action = '[[${ctx}]]/system/dict/saveDict';
					form.submit();
		        }
			});
		    $('#signupForm').submit();
		}
	</script>
</head>
<body class="gray-bg">
	<div class="wrapper animated fadeInRight">
    	<div class="ibox-content">
    		<div class="row">
    			<form id="signupForm" class="layui-form form-horizontal m-t">
    			<input type="hidden" name="id" th:value="${dict.id}">
    				<div class="layui-form-item col-lg-6 col-sm-12 col-xs-12">
						<label class="col-xs-3 layui-form-label"><i class="required">*</i>数据值：</label>
				        <div class="col-xs-6">
    						<input name="value" class="layui-input" th:value="${dict.value }" placeholder="请输入数据值" autocomplete="off" type="text" required  maxlength="100">
    					</div>
				    </div>
    				<div class="layui-form-item col-lg-6 col-sm-12 col-xs-12">
						<label class="col-xs-3 layui-form-label"><i class="required">*</i>标签名：</label>
				        <div class="col-xs-6">
    						<input name="label" class="layui-input" th:value="${dict.label }" placeholder="请输入标签名" autocomplete="off" type="text" required  maxlength="100">
    					</div>
				    </div>
    				<div class="layui-form-item col-lg-6 col-sm-12 col-xs-12">
						<label class="col-xs-3 layui-form-label"><i class="required">*</i>类型：</label>
				        <div class="col-xs-6">
    						<input name="type" class="layui-input" th:value="${dict.type }" placeholder="请输入类型" autocomplete="off" type="text" required  maxlength="100">
    					</div>
				    </div>
    				<div class="layui-form-item col-lg-6 col-sm-12 col-xs-12">
						<label class="col-xs-3 layui-form-label"><i class="required">*</i>描述：</label>
				        <div class="col-xs-6">
    						<input name="description" class="layui-input" th:value="${dict.description }" placeholder="请输入描述" autocomplete="off" type="text" required  maxlength="100">
    					</div>
				    </div>
    				<div class="layui-form-item col-lg-6 col-sm-12 col-xs-12">
						<label class="col-xs-3 layui-form-label"><i class="required">*</i>排序（升序）：</label>
				        <div class="col-xs-6">
    						<input name="sort" class="layui-input digits" th:value="${dict.sort }" placeholder="请输入排序（升序）" autocomplete="off" type="text" required >
    					</div>
				    </div>
    				<div class="layui-form-item col-lg-6 col-sm-12 col-xs-12">
						<label class="col-xs-3 layui-form-label">备注信息：</label>
				        <div class="col-xs-6">
							<textarea name="remarks" class="layui-textarea" th:text="${dict.remarks }" placeholder="请输入备注信息"  maxlength="255"></textarea>
    					</div>
				    </div>
    			</form>
    		</div>
    	</div>
    </div>
</body>
</html>