<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>菜单选择</title>

    <head th:include="init :: init"></head>
    <head th:include="init_ztree :: ztree"></head>

    <script type="text/javascript">
        var setting = {
            check: {
                enable: true,
                chkStyle: "checkbox",
                chkboxType: { "Y": "", "N": "" }
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            view: {
                selectedMulti: false
            },
            callback: {
                beforeCheck: function (treeId, treeNode) {
                    var treeObj = $.fn.zTree.getZTreeObj("tree");
                    var nodes = treeObj.getCheckedNodes();

                    if(nodes.length > 0){
                        var flag = false;
                        for(var i = 0; i < nodes.length; i++){
                            if(nodes[i].id == treeNode.id){
                                flag = true;
                                break;
                            }
                        }
                        return flag;
                    }else{
                        return true;
                    }
                }
            }
        };

        $(function(){
            $.post('[[${ctx}]]/system/menu/getMenuList?menuId=[[${menuId}]]',{

            },function(result){
                $.fn.zTree.init($("#tree"), setting, result);
            },'json');
        });
        
        function getCheckMenu() {
            var treeObj = $.fn.zTree.getZTreeObj("tree");
            var nodes = treeObj.getCheckedNodes();

            if(nodes.length < 1){
                showMsgError("请选择上级菜单");
                return;
            }else if(nodes.length > 1){
                showMsgError("只能选择一个上级菜单");
                return;
            }else{
                return nodes[0];
            }
        }
    </script>
</head>
<body class="gray-bg">
    <div class="wrapper animated fadeInRight">
        <div class="ibox-content">
            <div class="row">
                <div class="zTreeDemoBackground left">
                    <ul id="tree" class="ztree"></ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>