<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>菜单信息管理</title>

	<head th:include="init :: init"></head>
	<script type="text/javascript">

		//提交表单
		function validForm(){
			$('#signupForm').validate({
		        submitHandler:function(form){
		            loading();
		            form.action = '[[${ctx}]]/system/menu/saveMenu';
					form.submit();
		        }
			});
		    $('#signupForm').submit();
		}

        //选择上级菜单
        function selectMenu() {
            parent.layer.open({
                type: 2,
                title : '请选择上级菜单',
                area: ['700px', '500px'], //宽高
                content: '[[${ctx}]]/system/menu/menuSelect?menuId=' + $('input[name="parentId"]').val(),
                btn : ['选择', '关闭'],
                closeBtn : '1',
                shadeClose : true,//点击遮罩层关闭
                yes : function(index, layero){
                    var iframeWin = parent.window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                    var row = iframeWin.getCheckMenu();
                    if(row != null && row != undefined){
                        $('#selectLabel').val(row.name);
                        $('input[name="parentId"]').val(row.id);
                        parent.layer.close(index);
                    }
                }
            });
        }

        function selectIco(){
            showSelectIco('icon', 'iconLabel', true);
        }
	</script>
</head>
<body class="gray-bg">
	<div class="wrapper animated fadeInRight">
    	<div class="ibox-content">
    		<div class="row">
    			<form id="signupForm" class="layui-form form-horizontal m-t">
    			<input type="hidden" name="id" th:value="${menu.id}">
    				<div class="layui-form-item col-sm-12 col-xs-12">
						<label class="col-xs-3 layui-form-label"><i class="required">*</i>上级菜单：</label>
				        <div class="col-xs-4">
							<input type="text" name="" id="selectLabel" th:value="${menu.parent.name}" placeholder="请选择上级菜单" class="layui-input" readonly onclick="selectMenu()" style="cursor: pointer;">
							<input type="hidden" name="parentId" th:value="${menu.parent.id}">
							<input type="hidden" name="parentIds" th:value="${menu.parentIds}">
    					</div>
				    </div>
    				<div class="layui-form-item col-sm-12 col-xs-12">
						<label class="col-xs-3 layui-form-label"><i class="required">*</i>名称：</label>
				        <div class="col-xs-4">
    						<input name="name" class="layui-input" th:value="${menu.name }" placeholder="请输入名称" autocomplete="off" type="text" required  maxlength="100">
    					</div>
				    </div>
    				<div class="layui-form-item col-sm-12 col-xs-12">
						<label class="col-xs-3 layui-form-label">排序：</label>
				        <div class="col-xs-4">
    						<input name="sort" class="layui-input digits" th:value="${menu.sort }" placeholder="请输入排序" autocomplete="off" type="text" >
    					</div>
				    </div>
    				<div class="layui-form-item col-sm-12 col-xs-12">
						<label class="col-xs-3 layui-form-label">链接：</label>
				        <div class="col-xs-4">
    						<input name="href" class="layui-input" th:value="${menu.href }" placeholder="请输入链接" autocomplete="off" type="text"  maxlength="2000">
    					</div>
						<div class="layui-form-mid layui-word-aux">点击菜单跳转的页面</div>
				    </div>
    				<div class="layui-form-item col-sm-12 col-xs-12">
						<label class="col-xs-3 layui-form-label">目标：</label>
				        <div class="col-xs-4">
    						<input name="target" class="layui-input" th:value="${menu.target }" placeholder="请输入目标" autocomplete="off" type="text"  maxlength="20">
    					</div>
						<div class="layui-form-mid layui-word-aux">链接地址打开的目标窗口，默认：mainFrame</div>
				    </div>
    				<div class="layui-form-item col-sm-12 col-xs-12">
						<label class="col-xs-3 layui-form-label">图标：</label>
				        <div class="col-xs-4">
    						<input id="icon" name="icon" class="layui-input" th:value="${menu.icon }" placeholder="请输入图标" autocomplete="off" type="text" readonly  maxlength="100" style="cursor: pointer;" onclick="selectIco()">
    					</div>
						<div class="layui-form-mid layui-word-aux" id="iconLabel"><i th:if="${!#strings.isEmpty(menu.icon)}" th:class="${menu.icon}"></i></div>
				    </div>
    				<div class="layui-form-item col-sm-12 col-xs-12">
						<label class="col-xs-3 layui-form-label"><i class="required">*</i>可见：</label>
				        <div class="col-xs-4">
							<input type="checkbox" th:value="${menu.isShow}" th:checked="${menu.isShow == '0' ? 'false' : 'true'}" name="isShow" lay-skin="switch" lay-text="可见|隐藏">
    					</div>
						<div class="layui-form-mid layui-word-aux">该菜单或操作是否显示到系统菜单中</div>
				    </div>
    				<div class="layui-form-item col-sm-12 col-xs-12">
						<label class="col-xs-3 layui-form-label">权限标识：</label>
				        <div class="col-xs-4">
    						<input name="permission" class="layui-input" th:value="${menu.permission }" placeholder="请输入权限标识" autocomplete="off" type="text"  maxlength="200">
    					</div>
						<div class="layui-form-mid layui-word-aux">控制器中定义的权限标识，如：@RequiresPermissions("权限标识")</div>
				    </div>
    				<div class="layui-form-item col-sm-12 col-xs-12">
						<label class="col-xs-3 layui-form-label">备注信息：</label>
				        <div class="col-xs-4">
							<textarea name="remarks" class="layui-textarea" th:value="${menu.remarks }" placeholder="请输入备注信息"  maxlength="255"></textarea>
    					</div>
				    </div>
    			</form>
    		</div>
    	</div>
    </div>
</body>
</html>