<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>系统用户信息管理</title>

	<head th:include="init :: init"></head>
    <head th:include="init_bootstrap_table :: bootstrap_table"></head>
	
	<script type="text/javascript">
		$(function(){
			$('#table').bootstrapTable({
				undefinedText : '',//defined的默认显示文本
				striped : true,//条纹
				method : 'get',
				url : '[[${ctx}]]/system/user/list',
				pagination : true,//显示分页
				sidePagination : 'server',//定义分页为服务器端分页
				pageNumber : 1,//起始页数
				pageSize : 20,//默认显示行数
				pageList : [20, 50, 100 ,200],//可选分页数
				singleSelect : false,//多选
				//toolbar : '#toolbar',
				height : 'auto',
			    columns: [
			    {
			        field: 'id',
			        title: '用户id',
			        halign : 'center',
			        align : 'center'
			    },{
					field: 'headImg',
					title: '头像',
					halign : 'center',
					align : 'center',
					formatter :function (value, row, index) {
						if(value != null && value != undefined && value != ''){
							return '<img style="width:64px;height:64px;" src="' + value + '">';
						}else{
							return '';
						}
					}
				},{
			        field: 'code',
			        title: '员工号',
			        halign : 'center',
			        align : 'center'
			    },{
			        field: 'name',
			        title: '姓名',
			        halign : 'center',
			        align : 'center'
			    },{
			        field: 'phone',
			        title: '手机号',
			        halign : 'center',
			        align : 'center'
			    },{
			        field: 'account',
			        title: '登录账号',
			        halign : 'center',
			        align : 'center'
			    },{
			        field: 'role.name',
			        title: '角色名',
			        halign : 'center',
			        align : 'center'
			    },{
			    	field : 'option',
			    	title : '操作',
			    	halign : 'center',
			    	align : 'left',
			    	formatter : function(value, row, index){
			    		var _html = '<ul class="grid_btn_ul">';
			    		_html += '<li><a href="javascript:editUser(' + row.id + ')" class="btn btn-success btn-xs"><i class="fa fa-pencil"></i> 编辑 </a></li>';
			    		_html += '<li><a href="javascript:delUser(' + row.id + ')" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> 删除 </a></li>';
			    		_html += '</ul>';
			    		return _html;
			    	}
			    }],
			    onLoadSuccess : function(data){
			    	if(data.total == 0){
			    		$('#table').bootstrapTable('removeAll');
			    	}
			    }
			});
		});
		
		//添加系统用户信息
		function addUser(){
			layer.open({
			    type: 1,
			    title : '新增系统用户信息',
				area : ['60%','90%'],
			    content: '[[${ctx}]]/system/user/form', //这里content是一个DOM
			    btn : ['保存', '关闭'],
			    closeBtn : '1',
			    shadeClose : false,//点击遮罩层关闭
			    shade : [0.8, '#393D49'],
			    yes : function(index, layero){
			        var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
			        iframeWin.validForm();
			    },btn2 : function(index, layero){
					exitBombSow(index);
					return false;
				},cancel : function(index, layero) {
					exitBombSow(index);
					return false;
				}
			});
		}
		
		//编辑系统用户信息
		function editUser(id){
			layer.open({
			    type: 1,
			    title : '编辑系统用户信息',
				area : ['60%','90%'],
			    content: '[[${ctx}]]/system/user/form?id=' + id, //这里content是一个DOM
			    btn : ['保存', '关闭'],
			    closeBtn : '1',
			    shadeClose : false,//点击遮罩层关闭
			    shade : [0.8, '#393D49'],
			    yes : function(index, layero){
			        var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
			        iframeWin.validForm();
			    },btn2 : function(index, layero){
					exitBombSow(index);
					return false;
				},cancel : function(index, layero) {
					exitBombSow(index);
					return false;
				}
			});
		}

		//删除系统用户信息
		function delUser(id){
			layer.confirm('您确定要删除该系统用户信息吗？',function(){
				parent.loading();
				$.post('[[${ctx}]]/system/user/delUser',{
					id : id
				},function(result){
					closeLoading();
					layer.closeAll();
					if(result.success){
						showMsgSuccess('删除成功');
						
						refreshTable();
					}else{
						showMsgError(result.msg);
					}
				},'json');
			});
		}
		
		//查询
		function search(){
			var param = $('#searchForm').serialize();
			$('#table').bootstrapTable('refresh', {url : '[[${ctx}]]/system/user/list?' + param});
		}
	</script>
</head>
<body layadmin-themealias="default">
	<div class="layui-fluid animated fadeInRight">
        <div class="layui-card">
        	<div class="layui-form layui-card-header layuiadmin-card-header-auto">
                <div class="layui-form-item form-head">
					<form id="searchForm" class="layui-form">
						<div class="layui-inline">
							<label class="layui-form-label">员工号：</label>
							<div class="layui-input-inline">
								<input name="code" autocomplete="off" class="layui-input" placeholder="请输入员工号" type="text">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">姓名：</label>
							<div class="layui-input-inline">
								<input name="name" autocomplete="off" class="layui-input" placeholder="请输入姓名" type="text">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">手机号：</label>
							<div class="layui-input-inline">
								<input name="phone" autocomplete="off" class="layui-input" placeholder="请输入手机号" type="text">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">登录账号：</label>
							<div class="layui-input-inline">
								<input name="account" autocomplete="off" class="layui-input" placeholder="请输入登录账号" type="text">
							</div>
						</div>
						<div class="layui-inline">
							<button class="btn btn-primary " type="button" onclick="search()"><i class="fa fa-search"></i>&nbsp;查询</button>
						</div>
					</form>
				</div>
				<div class="layui-card-body">
					<div style="padding-bottom: 10px;">
						<button class="btn btn-primary " type="button" data-toggle="modal" onclick="addUser()"><i class="fa fa-plus"></i>&nbsp;新增</button>
					</div>
				</div>
				<table id="table">

				</table>
	        </div>
		</div>
    </div>
</body>
</html>