.icon-child1{background: url(../images/nav_01.png) center center no-repeat;}
.icon-child1:hover{background: url(../images/nav_01_2.png) center center no-repeat;}
.icon-child1.active{background: url(../images/nav_01_2.png) center center no-repeat;}
.icon-child2{background: url(../images/nav_02.png) center center no-repeat;}
.icon-child2:hover{background: url(../images/nav_02_2.png) center center no-repeat;}
.icon-child2.active{background: url(../images/nav_02_2.png) center center no-repeat;}
.icon-child3{background: url(../images/nav_03.png) center center no-repeat;}
.icon-child3:hover{background: url(../images/nav_03_2.png) center center no-repeat;}
.icon-child3.active{background: url(../images/nav_03_2.png) center center no-repeat;}
.icon-child4{background: url(../images/nav_04.png) center center no-repeat;}
.icon-child4:hover{background: url(../images/nav_04_2.png) center center no-repeat;}
.icon-child4.active{background: url(../images/nav_04_2.png) center center no-repeat;}
.icon-child5{background: url(../images/nav_05.png) center center no-repeat;}
.icon-child5:hover{background: url(../images/nav_05_2.png) center center no-repeat;}
.icon-child5.active{background: url(../images/nav_05_2.png) center center no-repeat;}
.icon-child6{background: url(../images/nav_06.png) center center no-repeat;}
.icon-child6:hover{background: url(../images/nav_06_2.png) center center no-repeat;}
.icon-child6.active{background: url(../images/nav_06_2.png) center center no-repeat;}
.icon-child7{background: url(../images/nav_07.png) center center no-repeat;}
.icon-child7:hover{background: url(../images/nav_07_2.png) center center no-repeat;}
.icon-child7.active{background: url(../images/nav_07_2.png) center center no-repeat;}
.icon-child8{background: url(../images/nav_08.png) center center no-repeat;}
.icon-child8:hover{background: url(../images/nav_08_2.png) center center no-repeat;}
.icon-child8.active{background: url(../images/nav_08_2.png) center center no-repeat;}
.icon-child9{background: url(../images/nav_09.png) center center no-repeat;}
.icon-child9:hover{background: url(../images/nav_09_2.png) center center no-repeat;}
.icon-child9.active{background: url(../images/nav_09_2.png) center center no-repeat;}
.icon-child10{background: url(../images/nav_10.png) center center no-repeat;}
.icon-child10:hover{background: url(../images/nav_10_2.png) center center no-repeat;}
.icon-child10.active{background: url(../images/nav_10_2.png) center center no-repeat;}
