<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="editor">
    <!-- Summernote是一个简单的基于Bootstrap的WYSIWYG富文本编辑器，官方文档请参考： https://github.com/summernote/summernote -->
    <link th:href="@{/h+/css/plugins/summernote/summernote-bs3.css}" rel="stylesheet">
    <link th:href="@{/h+/plugins/summernote/dist/summernote.css}" rel="stylesheet">
    <script th:src="@{/h+/plugins/summernote/dist/summernote.min.js}"></script>
    <script th:src="@{/h+/plugins/summernote/lang/summernote-zh-CN.js}"></script>

    <script>
        var edit = function($id){
            //$("#eg").addClass("no-padding");
            $("#" + $id).summernote({
                height:300,
                minHeight : 300,
                lang:"zh-CN",
                focus:false,
                toolbar: [
                    ['style', ['fontsize','fontname','color','bold', 'italic', ,'clear']],
                    ['font', ['underline','strikethrough', 'superscript', 'subscript']],
                    ['para', ['style','ul', 'ol', 'paragraph','height']],
                    ['insert', ['picture',,'link','unlink','table','hr']],
                    ['misc',['fullscreen', 'codeview','undo','redo','help']]
                ],
                callbacks : {
                    onImageUpload: function(files, editor, $editable) {
                        sendFile(files[0],editor,$editable, $id);
                    }
                }
            });


        };

        function sendFile(file, editor, $editable, $id){
            loading();
            var filename = false;
            try{
                filename = file['name'];
            } catch(e){
                filename = false;
            }
            if(!filename){
                closeLoading();
            }
            //以上防止在图片在编辑器内拖拽引发第二次上传导致的提示错误
            var ext = filename.substr(filename.lastIndexOf("."));
            ext = ext.toUpperCase();
            var timestamp = new Date().getTime();
            var name = timestamp+"_" + $("#" + $id).attr('aid') + ext;
            //name是文件名，自己随意定义，aid是我自己增加的属性用于区分文件用户
            data = new FormData();
            data.append("file", file);
            data.append("key",name);
            data.append("token",$("#" + $id).attr('token'));

            $.ajax({

                data: data,
                type: "POST",
                url: ctx + "/upload/uploadImg", //图片上传出来的url，返回的是图片上传后的路径，http格式
                contentType: false,//此处要设置为false才行
                cache: false,
                processData: false,
                success: function(data) {
                    //data是返回的hash,key之类的值，key是定义的文件名
                    //把图片放到编辑框中。editor.insertImage 是参数，写死。后面的http是网上的图片资源路径。
                    //网上很多就是这一步出错。
                    //$('#eg .note-editable').append('<img src="' + data + '" />');
                    if(data.success){
                        $('#' + $id).summernote('insertImage',data.data[0]);
                    }

                    closeLoading();
                },
                error:function(){
                    showMsgError('上传失败');
                    closeLoading();
                }
            });
        }
    </script>

</head>
<body>

</body>
</html>